{% extends "base.html" %}
{% load static %}


{% block content %}
{% include "nav.html" %}
<style>
    a{
        color:black
    }
</style>
<div class="col-lg-6 mx-auto mt-5">
    <div class="card">
        <div class="card-header mb-0">
            <h3>List Of Dispatch</h3>
            <div class="text-muted "> <i class="fa fa-exclamation-circle    "></i> click on the <span style="color: red;">First Name</span> to see more about the dispatch</div>
        </div>
        

            <div class="card-body mt-0">
              
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead class="thead-inverse">
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in item2  %}
                                <tr>
                                     <td> <a href="">{{item.first_name | capfirst}}</a></td> 
                                    <td>{{item.last_name | capfirst}}</td>
                                    <td>{{item.username | capfirst}}</td>
                                </tr>
                            
                                {% endfor %}
                            </tbody>
                    </table>
                </div>
            </div>
        
    </div>
</div>


{% endblock content %}