{% extends "base.html" %}
{% load static %}


{% block content %}
{% include "nav.html" %}
<style>
    a{
        color: black;
    }
    a:hover{
        color:black;
        text-decoration: none;
    }
</style>
<div class="col-lg-6 mx-auto mt-5">
    <div class="card">
        <div class="card-header">
            <h3>CHOOSE A DISPATCH</h3>
        </div>
        <div class="card-body">
            <div class="text-muted">
                Assign {{mail.first_name}} {{mail.last_name }} mail to :
            </div>
            <table class="table table-striped ">

                <tbody>
                    {% for people in rider %}
                    <tr> 
                 <td><a href="{% url 'assign_to_dispatch' mail.id people.id %}">{{people.username}}</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock content %}